.static_content {
  p {
    margin-bottom: 1rem !important;
  }

  ul {
    list-style: disc !important;

    li {
      margin-bottom: 1rem !important;
    }
  }

  img {
    width: 100% !important;
  }
}