@import "../scss/responsive";

.order_card_wrapper {
  margin-bottom: 24px;
  @include responsive('tablet') {
    margin-bottom: 16px;
  }
  .content_wrapper {
    background: #F6F6F6;
    padding: 16px;
    //margin-bottom: 24px;
  }

  .order_card_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    .order_card_header_left {
      h3 {
        color: rgba(36, 36, 36, 0.9);
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 1px;
        @include responsive('tablet') {
          font-size: 12px;
        }

        span {
          font-weight: 400;
        }
      }

      p {
        font-weight: 300;
        font-size: 13px;
        color: #636363;
        @include responsive('tablet') {
          font-size: 10px;
        }
      }
    }

    .order_card_header_right {
      p {
        border: 1px solid rgba(242, 90, 43, 0.5);
        border-radius: 2px;
        background: #FFFFFF;
        color: #F25A2B;
        font-weight: 400;
        font-size: 12px;
        padding: 5px 12px;
        @include responsive('tablet') {
          font-size: 10px;
        }
      }
    }
  }

  .order_card_body {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 23px 368px 261px;
    //grid-gap: 30px;
    align-items: center;
    @include responsive('tablet') {
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
    }

    .image_wrapper {
      display: flex;
      gap: 16px;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 13px;
        color: rgba(36, 36, 36, 0.9);
        @include responsive('tablet') {
          font-size: 12px;
          line-clamp: 2;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .image_container {
        width: 52px;
        height: 52px;
        background: #EFEFEF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 52px;
      }

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }

    .quantity_wrapper {
      text-align: right;
      @include responsive('tablet') {
        //display: none;
      }

      p {
        &:first-child {
          font-weight: 400;
          font-size: 13px;
          @include responsive('tablet') {
            font-size: 10px;
          }
          color: rgba(36, 36, 36, 0.5);
          margin-bottom: 9px;
        }

        &:last-child {
          font-weight: 500;
          color: rgba(36, 36, 36, 0.9);
          font-size: 15px;
          @include responsive('tablet') {
            font-size: 12px;
          }
        }
      }
    }

    .deliver_wrapper {
      @include responsive('tablet') {
        display: none;
      }

      p {
        font-weight: 400;
        color: rgba(36, 36, 36, 0.5);
        font-size: 13px;
      }

      h5 {
        color: #35A872;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

.order_id {
  color: #35A872E5;
  font-weight: 600 !important;
}

.count {
  @include responsive('tablet') {
    display: none;
  }

  p {
    font-weight: 600;
    font-size: 13px;
    color: rgba(36, 36, 36, 0.9);
    @include responsive('tablet') {
      font-size: 12px;
    }
  }
}

.address_wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  @include responsive('tablet') {
    grid-template-columns: 1fr;
  }
  padding: 16px;
  margin-top: 1px;
  background: #F6F6F6;

  .address {
    h3 {
      color: rgba(36, 36, 36, 0.50);
      font-size: 13px;
    }

    p {
      color: #3A494E;
      font-size: 13px;
    }
  }
}

.total_amount {
  text-align: right;
  @include responsive('tablet') {
    text-align: left;
    margin-top: 16px;
  }

  h3 {
    color: rgba(36, 36, 36, 0.50);
    font-size: 13px;
  }

  p {
    margin-bottom: 0;
    color: #242424;
    font-size: 20px;
    font-weight: 600;
  }
}