@import "../scss/responsive";

.brand_wrapper {
  padding-bottom: 50px;
  border-bottom: 1px solid #F2F2F2;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(88px, 1fr));
  grid-row: 2;
  gap: 16px;
  @include responsive('tablet') {
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }
}

.main_section_wrapper {
  display: grid;
  grid-template-columns: 295px 1fr;
  gap: 20px;
  @include responsive('tablet') {
    grid-template-columns: 1fr;
  }
}

.main_section_header {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 20px;
  @include responsive('tablet') {
    //justify-content: center;
    gap: 19px;
    margin-top: 16px;
  }

  h2 {
    color: #242424;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0;
    @include responsive('tablet') {
      display: none;
    }
  }

  .dropdown_wrapper {
    flex: 0 0 200px;
    @include responsive('tablet') {
      flex: 0 0 45%;
    }

  }

  .mobile_filter_button_wrapper {
    display: none;
    @include responsive('tablet') {
      display: block;
      flex: 0 0 45%;
      button {
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        width: 100%;
        height: 50px;
        gap: 13px;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        color: #F25A2B;
      }
    }
  }
}

.button_wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include responsive('tablet') {
    margin-top: 0px;
  }
}


//***************** Sidebar *****************//

.sidebar_wrapper {
  background: #FAFAFA;
  margin-top: 50px;
  padding: 50px 32px;
  @include responsive('tablet') {
    display: none;
  }
}

.sidebar_content_wrapper {
  .sidebar_content {
    .sidebar_content_header {
      padding-bottom: 10px;
      border-bottom: 1px solid #F2F2F2;
      margin-bottom: 12px;

      p {
        color: #F25A2B;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
      }
    }

    .sidebar_content_body {
      margin-bottom: 30px;

      .sidebar_content_body_item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 15px;
          color: #242424;
          cursor: pointer;
          margin-top: 1px;
        }
      }
    }
  }
}

.price_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #F2F2F2;
    padding: 0 15px;
    font-weight: 500;
    font-size: 15px;
    color: #242424;
    text-align: center;
  }
}

.read_more_button {
  width: 88px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #F2F2F2;
  background: #FAFAFA;
  box-shadow: 0px 0px 10px 0px rgba(195, 195, 195, 0.10);
  color: #F25A2B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  @include responsive('tablet') {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px rgba(195, 195, 195, 0.1);
    /* max-width: 88px; */
    height: auto;
    //width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #FFFFFF;
    padding: 8px 16px;
    border: 1px solid rgba(242, 90, 43, 0.1);
  }
}

.show_more_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .show_more_button {
    cursor: pointer;
    background-color: #F25A2B;
    color: #FFFFFF;
    border: 2px solid rgba(242, 90, 43, 0.5);
    border-radius: 100px;
    padding: 16px 48px;
    font-size: 14px;
    @include responsive('tablet'){
      padding: 8px 24px;
      font-size: 12px;
    }
    &:disabled {
      background-color: #dddddd;
        color: #FFFFFF;
      border: 2px solid rgba(242, 90, 43, 0.5);
      border-radius: 100px;
      padding: 16px 48px;
      font-size: 14px;
      cursor: not-allowed;
      @include responsive('tablet'){
        padding: 8px 24px;
        font-size: 12px;
      }
    }
  }
}