@import "../scss/responsive";

.add_review_modal {
  .modal_wrapper {
    .modal_content {

    }
  }
}

.modal_header {
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 32px;
  margin: 110px 0 50px 0;
  @include responsive('tablet') {
    margin: 50px 0;
    padding: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 52px;
    color: #F25A2B;
    @include responsive('tablet') {
      font-size: 16px;
    }
  }
}

.modal_close_wrapper {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
  @include responsive('tablet') {
    right: 10px;
    top: 10px;
    img{
        height: 30px;
        width: 30px;
    }
  }
}

.modal_body {
  padding: 0 100px 50px 100px;
  @include responsive('tablet') {
    padding: 0 20px 20px 20px;
  }
}

.rating_wrapper {
  p {
    font-weight: 500;
    font-size: 15px;
    color: #242424;
    @include responsive('tablet') {
      font-size: 12px;
    }
  }
}

.modal_footer {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid #F2F2F2;
  @include responsive('tablet') {
    border-top: 0;
    margin: 10px 0;
    padding: 0;
  }

  button {
    max-width: 500px;
    width: 100%;
    height: 48px;
    background: #F25A2B;
    border: 1px solid rgba(242, 90, 43, 0.12);
    border-radius: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include responsive('tablet') {
      height: 40px;
      font-size: 12px;
    }

  }
}

.review_form_start_rating_error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.success_popup_wrapper {
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  max-width: 960px;
  margin: 170px auto;
  padding: 77px 110px;
  text-align: center;
  @include responsive('tablet') {
    padding: 10px;
    margin: 0;
  }

  .image_wrapper {
    @include responsive('tablet') {
      margin-top: 30px;
    }
    img {
      height: 62px;
      width: 62px;
    }
  }

}

.success_content_wrapper {
  margin-top: 36px;
  @include responsive('tablet') {
    margin-top: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    @include responsive('tablet') {
      font-size: 16px;
    }
  }
}