@import "../scss/responsive";

.cart_wrapper {

  @include responsive('tablet') {
    display: none;
  }
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 72px;
  height: 72px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(242, 90, 43, 0.1);
  border-radius: 3px;
  display: none;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .cart_count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: #F25A2B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    z-index: 9999;
  }
}
